<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tilal6991.channels">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <application
        android:name=".base.ChannelsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Channels">

        <activity
            android:name=".redux.CoreActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service android:name=".ui.NotificationService" />

        <activity
            android:name=".ui.ConfigurationEditActivity"
            android:theme="@style/Theme.Channels.Prefs" />

        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/Theme.Channels.Prefs" />

        <activity
            android:name="de.duenndns.ssl.MemorizingActivity"
            android:theme="@style/Theme.AppCompat.Light.Translucent.NoTitleBar" />
    </application>
</manifest>